[Unit]
Description=MAS Shopping isolated network HTTP proxy
Requires=mas-shopping-http.socket
After=mas-shopping-docker.service

[Service]
ExecStart=/bin/bash "/opt/mas/scripts/proxy_shopping.sh" 80
Restart=no
